@import "bootstrap/scss/bootstrap";
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  /* background-color: unset; */
}

#main-content {
  height: calc(100% - 38px);
  width: 100%;
  position: relative;
  bottom: 0;
  overflow: hidden;
}

#operation-area,
#log-box {
  background-color: var(--bs-body-bg);
}

#log-box{width: 40%;}

#operation-area{
  width: 36%;
}

.operation-area {
  height: 100%;
  overflow: auto;
}

#sidebar {
  float: left;
  height: 100%;
  overflow: auto;
  
}

#navbar {
  height: 100%;width: 24%;
}
#winCtrl-bar {
  -webkit-app-region: drag;
  height: 38px;
  width: 100%;
}
#close-btn,
#max-btn,
#min-btn,
#devices-btn {
  -webkit-app-region: none;
}

#close-btn:hover {
  transition: 0.3s;
}
#max-btn:hover,
#min-btn:hover {
  transition: 0.3s;
}
#log-box {
  width: 40%;
  padding: 0.5rem;
  overflow: auto;
  font-size: 0.8rem;
  overflow-x: hidden;
}

.logs-body {
  overflow-x: auto;
}

.categories-div {
  width: 100%;
}
.categories-btn {
  width: 100%;
}

.extra-input {
  border: 1px solid;
  border-radius: 0.25rem;
}
